/* Reset des marges et padding de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    /* background-image: url("images/"); */
    background-size: cover;
    /* background: linear-gradient(to bottom right, #f4f6f8, #6b96c0); */
    background: linear-gradient(to bottom right, #b1c6dabb, #0f5caf);

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projets-content,
.pro-content,
.formation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.div_h2_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 1vw;
}

#profil h1,
#formation h1,
#projets h1,
#parcours-pro h1 {
    font-size: 2.5em;
    color: #2c3e50;
}

#profil h2,
#formation h2,
#projets h2,
#parcours-pro h2 {
    text-align: center;
}

p{
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
}

.competence{
    text-align: center;
}

/* Section Profil */
#profil {
    display: flex;
    flex-direction: column;

}


#denis {
    max-width: 200px;
    max-height: 300px;
    margin: 10px 0;
}

/* Section Formation */




#IUTLyon1 img {
    max-width: 15rem;
    max-height: 10rem;
    margin-left: 5rem;
}

#IUTLyon1 p {
    font-size: 1.2em;
}

/* Section parcours pro */


#cermep img {
    max-width: 15rem;
    max-height: 10rem;
    margin-left: 15px;
}

/* Section Projets */



#didactypo_img {
    max-width: 4rem;
    margin: 10px 0;

}



#git_didactypo a {
    margin-right: 20px;
}

/* Boutons */
.bouton {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.bouton:hover {
    background-color: #2980b9;
}

/* Collapse */
.div_competences,
.div_git {
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
}

.div_competences {
    border-left: 4px solid #3498db;
    background-color: #ecf0f1;

}

.competence {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Liens */
body a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Responsivité */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    content {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    div {
        padding: 0 10px;
    }

    .div_h2_img {
        flex-direction: column;
    }


    main {
        margin: 0 auto;
    }
}