/* Reset des marges et padding de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section Profil */
#profil{
    display: flex;
    flex-direction: column;
    
}
#profil h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

#profil p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
}

#denis {
    max-width: 200px;
    max-height: 300px;
    margin: 10px 0;
}

/* Section Formation */

#formation h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

#IUTLyon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#IUTLyon1 img {
    max-width: 15rem;
    max-height: 10rem;
    margin-right: 15px;
}

#IUTLyon1 p {
    font-size: 1.2em;
}

/* Section Projets */

#projets h1 {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

#projets > div {
    margin-bottom: 30px;
}

#projets > div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#projets h2 {
    font-size: 2em;
    color: #34495e;
    margin-bottom: 10px;
}

#projets div p {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: center;
}

#didactypo{
    max-width: 100px;
    margin: 10px 0;

}

#div_h2_img_didactypo{
    display: flex;
    align-items: center;
    gap: 30px;
}

#git_didactypo a{
    margin-right: 20px;
}

/* Boutons */
/* #projets button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#projets button:hover {
    background-color: #2980b9;
} */

/* Collapse */
.collapse {
    margin-top: 15px;
    padding: 15px;
    background-color: #ecf0f1;
    border-left: 4px solid #3498db;
    border-radius: 5px;
}

.competence {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Liens */
a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Responsivité */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }

    #profil img {
        max-width: 100%;
    }

    #projets button {
        width: 100%;
        margin-bottom: 10px;
    }

    #projets div {
        padding: 0 10px;
    }
}
